.top-banner{
    background-image: url('../../media/pictures/topbanner.jpeg');
    background-repeat: no-repeat;
    background-size: auto;
    height: 75vh;
}

@media only screen and (max-width: 600px) {
    .top-banner {
      background-size: auto;
      height: 55vh;
    }
  }